body {
    background: blue;
}
h1 {
    color: pink;
}
p {
    font-size: medium;
    font-style: italic;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}